<h2>Character</h2>
<rio-character-form
  [characterForm]="characterForm"
  [alignments]="alignments"
  [races]="races"
  [skills]="skills"
  [isFormValid]="isFormValid$ | async"
  [isRaceAlignmentValid]="isRaceAlignmentValid$ | async"
  [isAgeValid]="isAgeValid$ | async"
  [isNameValid]="isNameValid$ | async"
  [isSkillsValid]="isSkillsValid$ | async"
  (onSelectSkill)="onSelectSkill($event)"
  (addSkill)="addSkill($event)"
  (removeSkill)="removeSkill($event)"
  (onSubmit)="onSubmit($event)"
  (onReset)="onReset($event)"
>
</rio-character-form>
