<form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
  <label for="name">Character Name:</label>
  <input class="input"
    type="text"
    name="name"
    #characterModel="ngModel"
    [(ngModel)]="characterForm.name">

  <fieldset ngModelGroup="bioSummary" class="my3">
    <rio-form-group>
      <label for="age">Age:</label>
      <input class="input"
        type="number"
        name="age"
        [(ngModel)]="characterForm.bioSummary.age">
    </rio-form-group>

    <rio-form-group>
      <label for="size">Size:</label>
      <input
        type="radio"
        name="size"
        [(ngModel)]="characterForm.bioSummary.size"
        value="Small"> Small

      <input
        type="radio"
        name="size"
        [(ngModel)]="characterForm.bioSummary.size"
        value="Medium"> Medium

      <input
        type="radio"
        name="size"
        [(ngModel)]="characterForm.bioSummary.size"
        value="Large"> Large

    </rio-form-group>

    <rio-form-group>
      <label for="alignment">Alignment:</label>
      <select class="select"
        name="alignment"
        [(ngModel)]="characterForm.bioSummary.alignment">
        <option *ngIf="!characterForm.bioSummary.alignment" [value]="''">Please Select</option>
        <option *ngFor="let alignment of alignments" [value]="alignment">
          {{ alignment }}
        </option>
      </select>
    </rio-form-group>

    <rio-form-group>
      <label for="race">Race:</label>
      <select class="select"
        name="race"
        [(ngModel)]="characterForm.bioSummary.race">
        <option *ngIf="!characterForm.bioSummary.race" [value]="''">Please Select</option>
        <option *ngFor="let race of races" [value]="race">
          {{ race }}
        </option>
      </select>
    </rio-form-group>
  </fieldset>

  <fieldset class="my3">
    <rio-form-group>
      <label for="skills">Skills:</label>
      <div *ngFor="let cs of characterForm.skills; let i = index;">
        <select class="select"
          [value]="cs"
          (change)="onSelectSkill($event, i)">
          <option *ngIf="!cs" value="">Please Select</option>
          <option *ngFor="let skill of skills" [value]="skill">
            {{ skill }}
          </option>
        </select>
        <button type="button" (click)="removeSkill(i)">Remove</button>
      </div>

      <button type="button" (click)="addSkill()">Add skill</button>
    </rio-form-group>
  </fieldset>
  <button class="block btn btn-primary"
    [disabled]="!(isFormValid$ | async) || !(isRaceAlignmentValid$ | async)"
    type="submit">
    Save
  </button>
</form>
