<form (ngSubmit)="onSubmit(form.value)" #form="ngForm">
  <label for="name">Character Name:</label>
  <input
    type="text"
    name="name"
    #characterModel="ngModel"
    [(ngModel)]="characterForm.name">

  <fieldset ngModelGroup="bioSummary" class="my3">
    <label for="age">Age:</label>
    <input
      type="number"
      name="age"
      [(ngModel)]="characterForm.bioSummary.age">
    <label for="size">Size:</label>
    <input
      type="text"
      name="size"
      [(ngModel)]="characterForm.bioSummary.size">
    <label for="alignment">Alignment:</label>
    <select
      name="alignment"
      [(ngModel)]="characterForm.bioSummary.alignment">
      <option *ngFor="let alignment of alignments" [value]="alignment">
        {{ alignment }}
      </option>
    </select>

    <label for="race">Race:</label>
    <select
      name="race"
      [(ngModel)]="characterForm.bioSummary.race">
      <option *ngFor="let race of races" [value]="race">
        {{ race }}
      </option>
    </select>
  </fieldset>

  <fieldset class="my3">
    <label for="skills">Skills:</label>
    <div *ngFor="let cs of characterForm.skills; let i = index;">
      <select
        [value]="cs"
        (change)="onSelectSkill($event, i)">
        <option *ngFor="let skill of skills" [value]="skill">
          {{ skill }}
        </option>
      </select>
      <button type="button" (click)="removeSkill(i)">Remove</button>
    </div>
    <button type="button" (click)="addSkill()">Add skill</button>
  </fieldset>

  <button class="block btn btn-primary"
    [disabled]="!(isFormValid$ | async)"
    type="submit">
    Save
  </button>
</form>
