<div>
  <rio-modal *ngIf="loggedOut$ | async">
    <rio-modal-content>
      <h1 class="mt0">Login</h1>
      <rio-login-form
        [isPending]="isLoading$ | async"
        [hasError]="hasError$ | async"
        (login)="actions.loginUser($event)">
      </rio-login-form>
    </rio-modal-content>
  </rio-modal>
  <rio-navigator testid="navigator">
    <rio-navigator-item [mr]=true>
      <rio-logo></rio-logo>
    </rio-navigator-item>
    <rio-navigator-item *ngIf="loggedIn$ | async" [mr]=true>
      <a [routerLink]="['/counter']"
        class="text-decoration-none">Counter</a>
    </rio-navigator-item>

    <rio-navigator-item *ngIf="loggedIn$ | async">
      <a [routerLink]="['/about']"
        class="text-decoration-none">About Us</a>
    </rio-navigator-item>

    <div class="flex flex-auto"></div>

    <rio-navigator-item testid="user-profile" *ngIf="loggedIn$ | async" [mr]=true>
      {{ firstName$ | async }} {{ lastName$ | async }}
    </rio-navigator-item>

    <rio-navigator-item [hidden]="loggedOut$ | async">
      <rio-button className="bg-red white" (click)="actions.logoutUser()" >
        Logout
      </rio-button>
    </rio-navigator-item>
  </rio-navigator>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>